AUDIO_PROMPT=

CHATTERBOX_DEVICE=
CHATTERBOX_CFG_WEIGHT=0.6

FISH_SERVER_MODE=docker
FISH_SERVER_URL=http://127.0.0.1:8080/v1/tts
FISH_SERVER_API_KEY=
FISH_REFERENCE_ID=
FISH_AUDIO_PROMPT=
FISH_REFERENCE_TEXT=
FISH_HF_MODEL=fishaudio/fish-speech-1.5
FISH_MODEL_SUBDIR=fish-speech-1.5
FISH_DOCKER_IMAGE=fishaudio/fish-speech:v1.5.1
FISH_DOCKER_PLATFORM=linux/amd64
FISH_SERVER_DEVICE=cpu
FISH_API_PORT=8080
FISH_CHECKPOINT_DIR=./fish-checkpoints
FISH_REFERENCE_DIR=./fish-references
FISH_LLAMA_CHECKPOINT_PATH=checkpoints/fish-speech-1.5
FISH_DECODER_CHECKPOINT_PATH=checkpoints/fish-speech-1.5/firefly-gan-vq-fsq-8x1024-21hz-generator.pth
FISH_DECODER_CONFIG_NAME=firefly_gan_vq
FISH_DECODER_FILENAME=firefly-gan-vq-fsq-8x1024-21hz-generator.pth
FISH_COMPILE=0
FISH_LATENCY=balanced
FISH_SAMPLE_RATE=44100

VIBE_HF_MODEL=microsoft/VibeVoice-1.5B
VIBE_MODEL_DIR=./vibe-voice/models
VIBE_MODEL_SUBDIR=VibeVoice-1.5B
VIBE_MODEL_PATH=./vibe-voice/models/VibeVoice-1.5B
VIBE_DEVICE=
VIBE_VOICE_SAMPLES=
VIBE_DISABLE_PREFILL=0
VIBE_CFG_SCALE=1.3
VIBE_DDPM_STEPS=10
VIBE_SEED=

HF_TOKEN=